html, body {
    width: 100%;
    height: auto !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#profile-view-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 60px);
}
#profile-view-stats{
    margin-top: 200px;
    background-color: #e6e6e6;
    width: 80%;
    height: 75%;
    max-width: 1024px;
    max-height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#profile-view-image{
    width: 100%;
    height: 100%;
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    object-fit: cover;
    left: calc(50vw - 100px);
    top: calc(260px - 100px);
    border: 2px solid #079292;
}
#profile-stats-cont{
    width: calc(100% - 30px);
    height: 87px;
    align-items: center;
    padding: 0 15px;
    justify-content: flex-start;
    display: flex;
    background-color: #ECEFF1;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 25px;
}
#profile-view-cont-mobile{
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 60px;
}
#profile-stats-cont-mobile{
    background-color: #e6e6e6;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#profile-image-mobile{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
}
#first-stats-part-cont-mobile{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-color: #ECEFF1;
    display: flex;
    flex-direction: row;
}
#account-stats-cont-mobile{
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.mobile{
    display: none !important;
}
.desktop{
    display: flex;
}
.stats-content{
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.stats-content-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.profile-action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: auto;
    background-color: #ff3333;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
}
#my-account-name-cont-desk{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: auto;
    max-width: 50%;
    border: 0px solid #079292;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    margin-right: 0;
    box-sizing: border-box;
    padding: 5px;
}
#sign-out-btn{
    margin-left: 15px;
}
#my-account-name-text-desk{
    font-weight: 600;
    font-size: 14px;
    color: #222222;
}
#my-account-name-cont{
    max-width: 50%;
    min-width: 50px;
    background-color: transparent;
    height: 25px;
    border-radius: 8px;
    margin-top: 10px;
    border: 0px #079292 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
}
#my-account-name-text{
    color: #222222;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}
#social-media-info{
    margin-top: 10px;
}
.social-link-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-link{
    cursor: pointer;
    color: #079292;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 5px;
}
.link-no-visible{
    display: none;
}
#short-desc-cont{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 5px;

}
#short-desc{
    font-size: 12px;
    color: #222222;
}
.content-show-account{
    flex-direction: row;
    overflow-x: visible;
    overflow-y: auto;
    max-width: none;
    margin-top: 25px;
    height: auto !important;
    width: 100% !important;
    align-items: start;
    grid-auto-flow: column;
    justify-content: start;
    overflow-y: hidden;
}
#account-content-desk{
    margin-top: 50px;
}
#content-show-desktop{
    width: calc(100% - 20px);
}
#content-show{
    width: 100%;
}
#social-media-container-desktop{
    width: calc(100% - 150px);
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#webpage-link-cont{
    width: calc(100% - 210px);
    height: 75px;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#webpage-link-cont-mobile{
    width: auto;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#webpage-link-cont div{
    border: 1px solid transparent;
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #079292;
    border-radius: 15px;
    padding: 3px 15px;
    min-width: 200px;
    max-width: calc(50% - 100px);
    width: 100%;
    color: #fff;
    cursor: pointer;
}
#webpage-link-cont-mobile div{
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #079292;
    border-radius: 15px;
    padding: 3px 15px;
    min-width: 200px;
    max-width: calc(50% - 100px);
    width: 100%;
    color: #fff;
    cursor: pointer;
}
#icon-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-cont-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
}
#subsection-link-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#subsection-link-cont-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#subsection-link-cont a{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 185px;
}
#subsection-link-cont-mobile a{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 185px;
}
#webpage-link-cont div a svg{
    margin-right: 5px;
    fill: white;
}
#webpage-link-cont div:hover{
    transition-duration: 0.5s;
    border: 1px solid #079292;
}
#webpage-link-cont-mobile div a svg{
    margin-right: 5px;
    fill: white;
}
#webpage-link-cont-mobile div:hover{
    transition-duration: 0.5s;
    border: 1px solid #079292;
}
#media-info-section-desk{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
#social-media-cont-only{
    width: calc(50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#contact-info-section{
    width: calc(50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-right: 30px;
}
#contact-container{
    width: calc(100% - 104px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#contact-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: fit-content;
    box-sizing: border-box;
    padding: 10px;
    background-color: #079292;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#contact-button a{
    margin-left: 10px;
}
@media screen and (max-width: 1110px){
    .desktop{
        display: none !important;
    }
    #content-show-desktop {
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
}