<style>
    #name-and-surname{
        display: flex; 
        flex-direction: column; 
        width: fit-content;
    }
</style>
<div class="action-container">
    <div id="name-and-surname">
        <div class="input-container">
            <label for="name" style="margin-bottom: 15px; font-size: 12pt">Nombre: </label>
            <input placeholder="Nombre" id="name" type="text" onkeypress="">
        </div>
        <div class="input-container">
            <label for="surname" style="margin-bottom: 15px; font-size: 12pt">Apellido: </label>
            <input placeholder="Apellido" id="surname" autocomplete="off" type="text" onkeypress="enter()">
        </div>
    </div>
</div>
<script>
    function sendData() {
        const dataToSend = {
            name: document.getElementById('name').value,
            surname: document.getElementById('surname').value
        }
        //Show loading swal
        Swal.fire({
            title: 'Estamos guardando tus datos',
            text: 'Esperá un momento',
            allowOutsideClick: false,
            showConfirmButton: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        axios.post(`https://${window.location.host}/profile/creation/<%=sendDataPath%>`, dataToSend).then(function (response) {
            Swal.fire({
                title: 'Perfecto!',
                text: 'Tu nombre y apellido se han guardado correctamente, te estamos llevando al siguiente paso',
                icon: 'success',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                timerProgressBarColor: '#079292'
            }).then(function () {
                window.location.reload();
            })
        }).catch(function (error) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Algo salió mal, intenta de nuevo.',
            })
        });
    }
</script>