<style>
    
</style>
<div class="action-container">
    <div class="input-container">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; border-bottom: solid 1px #d3d3d3">
            <img src="/images/argFlag.png" style="height: 25px; object-fit: contain">
            <a style="font-family: Lato, sans-serif; font-size: 14px; color: #222222; margin: 0 10px; margin-bottom: 0.5175px">+54</a>
            <div style="width: 1px; height: 40px; background-color: #d3d3d3; margin-top: 10px; margin-right: 10px"></div>
            <!-- ^((\(?\d{3}\)?[-. ]?\d{4})|(\(?\d{4}\)?[-. ]?\d{3})|(\(?\d{5}\)?[-. ]?\d{2}))[-. ]?\d{4}$ -->
            <input placeholder="Numero celular" id="acc-phone-num" oninput="formatPhoneNum(this.value)" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" type="tel" onkeyup="enter(this.event)" style="border: none !important;">
        </div>
    </div>
</div>
<script>
    function formatPhoneNum(uncleanedPhone){
        //Filter only numbers from the input
        let cleaned = ('' + uncleanedPhone).replace(/\D/g, '');

        console.log(cleaned);
        //Check if the input is of correct length
        let match = cleaned.match(/^([0-9]{2,3})([0-9]{4})([0-9]{4})$/);

        console.log(match);
        if (match) {
            var matched = match[1] + ' ' + match[2] + '-' + match[3];
            document.getElementById('acc-phone-num').value = matched;
            //console.log(match)
        }else {
            //console.log('nose')
            document.getElementById('acc-phone-num').value = cleaned;
        }
}
    function sendData() {
        const dataToSend = {
            name: document.getElementById('name').value,
            surname: document.getElementById('surname').value
        }
        //Show loading swal
        Swal.fire({
            title: 'Estamos guardando tus datos',
            text: 'Esperá un momento',
            allowOutsideClick: false,
            showConfirmButton: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        axios.post(`https://${window.location.host}/profile/creation/<%=sendDataPath%>`, dataToSend).then(function (response) {
            Swal.fire({
                title: 'Perfecto!',
                text: 'Tu nombre y apellido se han guardado correctamente, te estamos llevando al siguiente paso',
                icon: 'success',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                timerProgressBarColor: '#079292'
            }).then(function () {
                window.location.reload();
            })
        }).catch(function (error) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Algo salió mal, intenta de nuevo.',
            })
        });
    }
</script>