<style>
    
</style>
<div class="action-container">
    <div class="input-container">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; border-bottom: solid 1px #d3d3d3">
            <img src="/images/argFlag.png" style="height: 25px; object-fit: contain">
            <a style="font-family: Lato, sans-serif; font-size: 14px; color: #222222; margin: 0 10px; margin-bottom: 0.5175px">+54 9</a>
            <div style="width: 1px; height: 40px; background-color: #d3d3d3; margin-top: 10px; margin-right: 10px"></div>
            <!-- ^((\(?\d{3}\)?[-. ]?\d{4})|(\(?\d{4}\)?[-. ]?\d{3})|(\(?\d{5}\)?[-. ]?\d{2}))[-. ]?\d{4}$ -->
            <input placeholder="Numero celular" id="acc-phone-num" oninput="" type="tel" onkeyup="formatPhoneNum(this); enter(this.event)" style="border: none !important;">
        </div>
    </div>
</div>
<script src="https://unpkg.com/libphonenumber-js@1.9.6/bundle/libphonenumber-max.js"></script>
<script>
    function formatPhoneNum(uncleanedPhoneInput) {
        let val_old = '+54 9' + uncleanedPhoneInput.value;
        let phoneOBJ = libphonenumber.parsePhoneNumber(val_old, 'AR');
        console.log(val_old);
        console.log(phoneOBJ.getType());
        let val_new = phoneOBJ.format('INTERNATIONAL', { formatExtension: false });
        console.log(phoneOBJ.isValid());
        uncleanedPhoneInput.value = val_new.replaceAll('+54 9', '');
    }
    function sendData() {
        let phoneOBJ = libphonenumber.parsePhoneNumber(`+54 9 ${document.getElementById('acc-phone-num').value}`, 'AR');
        console.log(phoneOBJ);
        if (phoneOBJ.isValid()) {
            const phone_number =  phoneOBJ.nationalNumber;
            const phone_country_code = phoneOBJ.countryCallingCode;
            const phone_country_iso = phoneOBJ.country;
            const dataToSend = {
                phone_number: phone_number,
                phone_country_code: phone_country_code,
                phone_country_iso: phone_country_iso
            }
            //Show loading swal
            Swal.fire({
                title: 'Estamos guardando tus datos',
                text: 'Esperá un momento',
                allowOutsideClick: false,
                showConfirmButton: false,
                heightAuto: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
            axios.post(`https://${window.location.host}/profile/creation/<%=sendDataPath%>`, dataToSend).then(function (response) {
                Swal.fire({
                    title: 'Ahora si!',
                    text: 'Ahora pueden contactarte, tu número se guardó correctamente',
                    icon: 'success',
                heightAuto: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    showConfirmButton: false,
                    timer: 5000,
                    timerProgressBar: true,
                    timerProgressBarColor: '#079292'
                }).then(function () {
                    window.location.reload();
                })
            }).catch(function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Algo salió mal, intenta de nuevo.',
                })
            });
        }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'El número de celular ingresado no es válido.',
            });
        }

    }
</script>

<script>
    function skipStep(){
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Tener un perfil completo ayuda a una mejor comunicación con los usuarios. Podrás completar estos datos mas tarde",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#079292',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Continuar'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Saltando paso...',
                    text: 'Esperá un momento',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                const dataToSend = {
                    phone_number: null,
                    phone_country_code: null,
                    phone_country_iso: null
                }
                axios.post(`https://${window.location.host}/profile/creation/<%=sendDataPath%>`, dataToSend).then(function (response) {
                    Swal.fire({
                        title: 'Todo correcto!',
                        text: 'El paso se saltó, redirigiendo al siguiente',
                        icon: 'info',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showConfirmButton: false,
                        timer: 5000,
                        timerProgressBar: true,
                        timerProgressBarColor: '#079292'
                    }).then(function () {
                        window.location.reload();
                    })
                }).catch(function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Algo salió mal, intenta de nuevo.',
                    })
                });
            }
        })
    }
</script>