<style>
    
</style>
<div class="action-container">
    <div class="input-container" style="align-items: center !important;">
        <label for="upload-photo" id="upload-profile-image-button">
            <img id="profile-image-upload-cont" src="/images/Gallery.svg" alt height="50" width="50">
        </label>
        <input type="file" accept="image/png, image/gif, image/jpeg" name="file" id="upload-photo" onchange=""/>
    </div>
</div>
<script>
    function sendData() {
        axios.defaults.withCredentials = true;
        var formData = new FormData();
        var imagefile = document.querySelector('#upload-photo');
        formData.append("file", imagefile.files[0]);
        axios.post('https://dogshome.com.ar/profile/upload/image/', formData, {
            headers: {
                'Content-Type': 'multipart/form-data',
                'Cookies': document.cookie
            },
        }).then(function(response){
            console.log(response.data.photoURL);
        }).catch(function (error){
            console.log(error)
        })
        /*const dataToSend = {
            name: document.getElementById('name').value,
            surname: document.getElementById('surname').value
        }
        //Show loading swal
        Swal.fire({
            title: 'Estamos guardando tus datos',
            text: 'Esperá un momento',
            allowOutsideClick: false,
            showConfirmButton: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        axios.post('https://127.0.0.1/profile/creation/<%=sendDataPath%>', dataToSend).then(function (response) {
            Swal.fire({
                title: 'Perfecto!',
                text: 'Tu nombre y apellido se han guardado correctamente, te estamos llevando al siguiente paso',
                icon: 'success',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                timerProgressBarColor: '#079292'
            }).then(function () {
                window.location.reload();
            })
        }).catch(function (error) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Algo salió mal, intenta de nuevo.',
            })
        });*/
    }
</script>