<div class="action-container">
    <div class="input-container">
        <label for="refugio-name" style="margin-bottom: 15px; font-size: 12pt">Nombre del refugio: </label>
        <input placeholder="Nombre" id="refugio-name" type="text" onkeypress="enter()">
    </div>
</div>
<script>
    function sendData() {
        const dataToSend = {
            shelterName: document.getElementById('refugio-name').value
        }
        //Show loading swal
        Swal.fire({
            title: 'Estamos guardando tus datos',
            text: 'Esper치 un momento',
            allowOutsideClick: false,
            showConfirmButton: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });
        axios.post('https://127.0.0.1/profile/creation/<%=sendDataPath%>', dataToSend).then(function (response) {
            Swal.fire({
                title: 'F치cil!',
                text: 'El nombre del refugio se guard칩 correctamente, el siguiente paso esta cerca',
                icon: 'success',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
                timerProgressBarColor: '#079292'
            }).then(function () {
                window.location.reload();
            })
        }).catch(function (error) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Algo sali칩 mal, intenta de nuevo.',
            })
        });
    }
</script>