html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    min-height: 500px;
    padding-bottom: 10px;
    overflow-y: hidden !important;

}

* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
#sign-in{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 103;
}

#form{
    width: fit-content;
    max-width: 600px;
    /*max-height: 1200px;*/
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15px;
    /*padding-top: 300px;*/
}
.input-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 10pt;
    margin-bottom: 15px;
    margin-top: 10px;
}
input{
    height: 50px;
    width: 25vw;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #d3d3d3;
    transition: 0.25s;
    max-width: 350px;
}

textarea:focus, input:focus{
    transition: 0.25s;
    outline: none;
    border-color: #079292;
}
#sign-in-btn{
    height: 50px;
    width: 100px;
    border-width: 0;
    background-color: #079292;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    text-decoration: none;
    margin-bottom: 8px;
}
@font-face{font-family: 'libel-suit-rg'; src: url(../../fonts/libel-suit.otf) format('opentype');}

#sign-in-title{
    font-family: libel-suit-rg, sans-serif;
    font-size: 3em;
    color: #d3d3d3;
}

.dogs-home-logo{
    font-family: libel-suit-rg, sans-serif;
}
#upload-profile-image-button{
    height: 100px;
    width: 100px;
    border-radius: 140px;
    border: solid 1px #079292;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#upload-photo{
    visibility: hidden;
}
.verif-phone-number-single-cont{
    height: 75px;
    width: 50px;
    background-color: #e5e5e5;
    margin: 10px 8px;
    display: flex;
    align-items: flex-end;
}.verif-phone-number-single-input{
    background-color: rgba(0,0,0,0);
    margin: 0;
    width: 50px;
    height: 100%;
    align-content: center;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.verif-phone-number-single-input::-webkit-outer-spin-button,
.verif-phone-number-single-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.verif-phone-number-single-input::-moz-selection { /* Code for Firefox */
    background: rgba(0,0,0,0);
}

.verif-phone-number-single-input::selection {
    background: rgba(0,0,0,0);
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
@media screen and (max-width: 1024px){
    input{
        height: 50px;
        width: 50vw;
    }
}
@media screen and (max-width: 480px){
    input{
        height: 50px;
        width: 75vw;
    }
    .verif-phone-number-single-cont{
        height: 50px;
        width: 30px;
        background-color: #e5e5e5;
        margin: 10px 8px;
        display: flex;
        align-items: flex-end;
    }.verif-phone-number-single-input{
         background-color: rgba(0,0,0,0);
         margin: 0;
         width: 30px;
         height: 100%;
         align-content: center;
         text-align: center;
     }
}