html, body {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    min-height: 500px;
    padding-bottom: 10px;
}

body.swal2-height-auto{
    height: 100% !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

.wave {
    /* transform: scaleX(30%) scaleY(100%); */
    height: 100%;
    width: 400px;
}

.auth-page-header {
    width: 100%; 
    height: 200px; 
    background-color: #079292; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.auth-page-header-logo{
    font-family: libel-suit-rg, sans-serif;
    position: absolute; 
    left: 15px; 
    top: 15px; 
    width: auto; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-weight: normal;
}

.auth-page-header-label {
    position: relative; 
    width: 100%; 
    text-align: center; 
    color: white; 
    font-family: Lato, sans-serif; 
    font-size: 32px; 
    font-weight: 600;
}

.auth-page-body {
    width: 100%;
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    flex-direction: row;
    box-sizing: border-box;
    z-index: 103;
}

.auth-page-form {
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    box-sizing: border-box;
    position: relative;
}

.auth-page-form > .input-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 10pt;
    margin-bottom: 15px;
    margin-top: 10px;
    height: fit-content;
}

.auth-page-form > .input-container > label{
    font-size: 12pt;
}

.auth-page-change-method {
    font-family: 'Lato', sans-serif; 
    font-size: 1em; 
    text-align: center; 
    color: #079292;
    margin-right: 15px;
}

.auth-page-form > .auth-btn-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row-reverse;
    margin: 15px 0;
    max-width: 350px;
}

.auth-btn-container > .auth-btn {
    height: 50px;
    width: 100px;
    border-width: 0;
    background-color: #079292;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    text-decoration: none;
    margin-bottom: 8px;
    text-align: center;
}

.auth-page-form > .auth-btn-anonymous {
    position: relative; 
    text-decoration: none; 
    height: 50px; 
    color: rgba(0, 0, 0, 0.45); 
    font-size: 10pt; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

input{
    height: 50px;
    width: 25vw;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #d3d3d3;
    transition: 0.25s;
    max-width: 350px;
}

textarea:focus, input:focus{
    transition: 0.25s;
    outline: none;
    border-color: #079292;
}

@font-face{font-family: 'libel-suit-rg'; src: url(../../fonts/libel-suit.otf) format('opentype');}

.auth-form-title{
    font-family: 'Lato', sans-serif;
    font-size: 24pt;
    font-weight: bolder;
    width: 25vw;
    max-width: 350px;
    text-align: left;
    color: #333;
    text-indent: -2px;
    margin-bottom: 15px;
}


#dogshome-logo{
    position: absolute;
    left: 15px;
    top: 15px;
    width: auto;
    width: 50px;
    height: 50px;
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

#dogshome-name {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-family: libel-suit-rg, sans-serif;
    width: auto;
    text-align: center;
    color: #079292;
    font-size: 24px;
}

#upload-profile-image-button{
    height: 100px;
    width: 100px;
    border-radius: 140px;
    border: solid 1px #079292;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#upload-photo{
    visibility: hidden;
}
.verif-phone-number-single-cont{
    height: 75px;
    width: 50px;
    background-color: #e5e5e5;
    margin: 10px 8px;
    display: flex;
    align-items: flex-end;
}.verif-phone-number-single-input{
    background-color: rgba(0,0,0,0);
    margin: 0;
    width: 50px;
    height: 100%;
    align-content: center;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.verif-phone-number-single-input::-webkit-outer-spin-button,
.verif-phone-number-single-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.verif-phone-number-single-input::-moz-selection { /* Code for Firefox */
    background: rgba(0,0,0,0);
}

.verif-phone-number-single-input::selection {
    background: rgba(0,0,0,0);
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error-label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    max-width: 350px;
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.error-label-container.visible {
    visibility: visible;
    opacity: 1;
    height: 50px;
}

.error-label-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #B00020;
}

.error-label {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    color: #B00020;
    text-align: left;
    width: 100%;
}

input.errored {
    border-color: #B00020;
    background-color: rgba(176, 0, 32, 0.15);
}

#loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    position: absolute;
    z-index: 100;
    /* Center */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#loading-container.visible {
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}

@media screen and (max-width: 1024px){
    input{
        height: 50px;
        width: 50vw;
    }

    .auth-form-title{
        width: 50vw;
    }

    .auth-page-form > .auth-btn-container {
        width: 50vw;
    }

    .error-label-container {
        width: 50vw;
    }
}
@media screen and (max-width: 480px){
    input{
        height: 50px;
        width: 75vw;
    }

    .auth-form-title{
        width: 75vw;
    }

    .error-label-container {
        width: 75vw;
    }

    #dogshome-logo{
        left: auto;
        right: 15px;
        top: 15px;
        filter: brightness(1);
        -webkit-filter: brightness(1);
    }

    .wave {
        width: 50px;
    }
    .auth-page-form > .auth-btn-container {
        width: 75vw;
    }
    .verif-phone-number-single-cont{
        height: 50px;
        width: 30px;
        background-color: #e5e5e5;
        margin: 10px 8px;
        display: flex;
        align-items: flex-end;
    }.verif-phone-number-single-input{
         background-color: rgba(0,0,0,0);
         margin: 0;
         width: 30px;
         height: 100%;
         align-content: center;
         text-align: center;
     }
}