<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificá tu email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <style>
        :root{
            --bg-color-light: #f1f1f1;
            --main-bg-color-light: #ffffff;
            --main-bg-color-dark: #1f1f1f;
            --title-dark: #fff;
            --title-light: #000;


        }
        body {
            margin: 0;
            background-color: var(--bg-color-light);
        }
        html, body{
            height: 100%;
        }
        table{
            border-spacing: 0;
        }
        td{
            padding: 0;
        }
        img{
            border: 0;
        }
        .wrapper{
            width: 100%;
            table-layout: fixed;
            background-color: var(--bg-color-light);
            padding: 0;
        }
        .main{
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            background-color: var(--main-bg-color-light);
            border-spacing: 0;
            font-family: 'Lato', sans-serif;
        }
        .title{
            font-size: 2rem; 
            font-weight: bolder; 
            color: var(--title-light);
        }
        .description{
            margin: 0;
            font-size: 1.25rem; 
            font-weight: normal; 
            color: var(--title-light); 
            text-align: left;
        }
        .dogshome-team{

        }
        .more-info{
            
        }
        @media (prefers-color-scheme: dark){
            .main{
                background-color: var(--main-bg-color-dark);
            }
        }
    </style>
</head>
<body>
    <center class="wrapper">
        <table class="main" align="center">
            <tr>
                <td>
                    <table width="100%" >

                        <tr>
                            <td style="text-align: center; padding: 8px 0 4px; background-color: #f1f1f1; box-shadow: inset 0 -10px 10px -10px #000000;">
                                <a href="https://dogshome.com.ar" target="__blank"><img width="100px" height="100px" loading="lazy" src="https://dogshome.com.ar/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png" alt=""></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding: 50px 0;">
                                <a class="title">Verificá tu correo electrónico</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding: 0 50px 0">
                                <p class="description">
                                    Hacé click en el siguiente botón y 
                                    confirmá tu correo para comenzar a 
                                    usar DogsHome
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="100"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding: 0 50px;" height="50">
                                <a style="width: 100px; box-shadow: 0 0 25px rgba(7, 146, 146, .75); text-decoration: none; color: white; background-color: #079292; font-weight: bolder; padding: 15px; border-radius: 25px;" href="<%= link %>">CONFIRMAR MI CORREO</a>
                            </td>
                        </tr>
                        <tr>
                            <td height="100"></td>
                        </tr>
                        <tr >
                            <td style="">
                                <table width="100%" style=" background-color: #333 !important; box-shadow: inset 0 10px 10px -10px black;">
                                    <tr>
                                        <td height="40"></td>
                                    </tr>
                                    <tr>
                                        <td width="40"></td>
                                        <td height="40">
                                            <p style="letter-spacing:-0.5;font-size: 18px; font-weight: bold; color: #fff; margin: 0 0 5px 0;"> Equipo DogsHome</p>
                                        </td>
                                        <td width="40"></td>
                                    </tr>
                                    <tr>
                                        <td height="20"></td>
                                    </tr>
                                    <tr>
                                        <td width="40"></td>
                                        <td>
                                            <hr heigth="15" style="margin: 7px 0; border: none; border-top: 1px solid #45474a;">
                                        </td>
                                        <td width="40"></td>
                                    </tr>
                                    <tr>
                                        <td width="40"></td>
                                        <td>
                                            <h6 style="color:#e6e6e6;font-size:12px;line-height:22px;font-weight:200;margin-bottom:5px">
                                                Para más información visitá <a style="text-decoration:none;color:#079292;font-weight:bold" href="https://dogshome.com.ar" target="__blank">dogshome.com.ar</a>.
                                            </h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40" height="40"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>