<!DOCTYPE html>
<html lang="en" style="width: 100vw; height: 100%; overflow: hidden">

<head>
    <%- include('./head.ejs'); %>
    <link rel="icon" href="/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png">
    <script src="/scripts/auth/save-profile-data.js"></script>
    <title>Verificación</title>

    <script src="/scripts/auth/sign-in.js"></script>
    <link rel="stylesheet" href="/stylesheets/auth-ui/verification-style.css">
</head>

<body>
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-auth.js"></script>
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-database.js"></script>
    <script src="https://dogshome-6af88.web.app/__/firebase/init.js"></script>

    <script src="/scripts/auth/email-verification.js"></script>
    <script>
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                if (user.emailVerified) {
                    user.getIdToken(true).then(function(idToken) {
                        //The user is verified but the session is not refreshed
                        refreshUser(idToken).then(() => {
                            console.log("User refreshed")
                        }).catch((error) => {
                            console.log(error)
                        })
                    })

                } else {
                    //The user is not verified yet
                    user.getIdToken(true).then(function(idToken) {

                        sendEmailVerification().then(function(response) {
                            console.log(response)
                        }).catch(function(error) {
                            const errorCode = error.code || null;
                            const errorMessage = error.message || null;
                            //Could not send verification email (with error code and message)
                            console.log(error)
                        })
                    })
                }
            } else {
                window.location = 'signin.html';
            }
        });
    </script>

</body>

</html>