
.expandible-menu-invisible{
    display: none;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 103;
    box-sizing: border-box;
    padding: 25px 0;
    padding-top: 0;
}
.swal2-container swal2-center swal2-backdrop-show{
    z-index: 104 !important;
    position: fixed !important;
}
.swal2-shown swal2-height-auto{
    z-index: 104;
}
.selected{
    color: #079292 !important;
    fill: #079292 !important;
}
.expandible-menu-visible{
    display: flex;
    top: 60px;
    right: 0;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 103;
    box-sizing: border-box;
    padding: 25px 0;
    padding-top: 0;
}
.expandible-menu-option-cont{
    display: flex;
    align-items: center;
}
.exp-options-container{
    list-style: none;
    padding: 16px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}
.exp-options-container li{
    padding: 4px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.exp-options-container a{
    text-decoration: none;
    line-height: 23px;
    padding: 8px 20px 8px 26px;
    text-align: -webkit-match-parent;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Lato', sans-serif;
}
.exp-options-container span{
    color: #333;
}
.exp-options-container svg{
    color: #333;
    margin-right: 15px;
}
#name-option-exp-menu{
    height: 52px;
    box-sizing: content-box;
    padding: 24px 18px;
    border-bottom: 1px solid #e6e6e6;
}
#profile-pic-exp-menu{
    border-radius: 64px;
    border: 1px solid #079292;
}
#expandible-menu{
    visibility: visible;
}
@media screen and (min-width: 1024px) {
    #expandible-menu{
        visibility: hidden;
    }
}