html, body {
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}
#top-bar{
    height: 60px;
    width: 100%;
    background-color: #079292;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 105;
}
#post{
    width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
}
#all-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.1);
    overflow: hidden;
}
#post-image-container{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#post-image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transform-origin: left;
    display: block;
}
#left-post{
    flex: 1;
}
#right-post{
    width: 388px;
    height: fit-content;
    margin-left: 32px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    font-family: 'Prompt', sans-serif;
}
#post-name{
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    color: #595959;
}
#post-desc{
    margin: 10px 0;
    font-size: 10pt;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    font-family: 'Lato', sans-serif;
    color: #545454;
}
#post-images-selector{
    width: 44px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}
.secondary-image-cont-unselected{
    transition: 0.5s;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.secondary-image-cont-unselected:hover{
    transition: 0.5s;
    border: 1px solid rgb(7, 146, 146);
}
.secondary-image-cont-selected{
    transition: 0.5s;
    width: 44px;
    height: 44px;
    border: 1px solid rgba(7, 146, 146, 1);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.secondary-image{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    object-fit: contain;
}

#image-count{
    width: auto;
    height: 30px;
    background-color: #f5f5f5;
    position: absolute;
    z-index: 99;
    top: 70px;
    left: 10px;
    border-radius: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    box-sizing: border-box;
    padding: 10px 20px;
}
.error-container-visible{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 60px;
    left: 0;
    z-index: 101;
}
.error-container-invisible{
    display: none;
}
#image-dog-not-found{
    height: 75%;
    width: auto;
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;

}
@media screen and (max-width: 1024px){
    #image-dog-not-found{
        height: auto;
        width: 75%;
    }

    #post-images-selector{
        display: none;
    }
    #right-post{
        display: none;
    }
    #post{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;
        margin-top: 0;
    }
    #post-image{
        height: auto;
        display: none;
    }
    #post-image-container{
        align-items: flex-start;
    }
    #image-count{
        display: flex;
    }
}
@media screen and (max-width: 1184px) {

}