@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);

.animate {
    transition: transform 0.3s ease-out;
}

.slider-wrap {
    width: 100vw;
    height: 40vh;
    position: absolute;
    left: 0;
    top: 60px;
    display: none;

}

.slider {
    width: auto;
    height: 40vh;
    overflow: hidden;
}

.ms-touch.slider {
    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    /* Hides the scrollbar. */

    -ms-scroll-chaining: none;
    /* Prevents Metro from swiping to the next tab or app. */

    -ms-scroll-snap-type: mandatory;
    /* Forces a snap scroll behavior on your images. */

    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
    width: 800vw;
    height: 40vh;
    overflow-y: hidden;
}

.slide-wrapper {
    width: 100vw;
    height: 40vh;
    float: left;
    position: relative;
    overflow: hidden;
}

.slide {
    height: 40vh;
    width: 100vw;
    position: absolute;
    content: "";
}

.temp {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 100px;
    bottom: 15px;
    left: 15px;
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
}

.slide img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

.slide:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

.slide div {
    width: auto;
    height: 40vh;
    z-index: 0;
}
.slide-image{
    width: 100vw;
    height: 40vh;
    object-fit: contain;
    margin: 0;
}
.images{
    width: 100vw;
    height: 40vh;
    margin: 0;
    object-fit: contain;

}
#image-slider{
    width: 100vw;
    height: 40vh;
    object-fit: contain;
}
.slider{
    width: 100vw;
}
@media screen and (max-width: 1024px){
    .slider-wrap{
        display: block;
    }
}