html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
.leaflet-popup-content{
    margin: 0 !important;
    padding: 0 !important;
}
.alertCont{
    position: relative;
    height: 100%;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.alertImage{
    width: 100%;
    height: auto;
}