<!DOCTYPE html>
<html lang="en" style="width: 100vw; height: 100%; overflow: hidden">

<head>
    <%- include('./head.ejs'); %>
    <link rel="icon" href="/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png">
    <script src="/scripts/auth/save-profile-data.js"></script>
    <title>Verificación</title>

    <script src="/scripts/auth/sign-in.js"></script>
    <script src="/scripts/auth/sign-out.js"></script>
    <link rel="stylesheet" href="/stylesheets/auth-ui/verification-style.css">
    <link rel="stylesheet" href="/stylesheets/loaders.css">
</head>

<body>
    <div id="main-container">
        <img id="dogshome-logo" src="/images/DogsHomeLogo-ReDesign%20(Colorified&Final).png" alt="DogsHome Logo">
        <a id="dogshome-name">DogsHome</a>

        <svg class="wave" viewBox="0 0 320 1440" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Layer_1">
                <title>Layer 1</title>
                <g id="svg_1" transform="rotate(90, 159.909, 719.709)">
                    <path id="svg_2" fill="#079292" d="m-560.09116,650.12319l80,25.42733c80,25.90484 240,76.04324 400,57.30103c160,-19.45847 320,-107.79756 480,-146.35638c160,-37.84255 320,-25.90484 400,-19.10034l80,6.32699l0,305.60548l-80,0c-80,0 -240,0 -400,0c-160,0 -320,0 -480,0c-160,0 -320,0 -400,0l-80,0l0,-229.20411z" />
                </g>
            </g>
        </svg>

        <div class="message-container visible" id="email-verification-container">
            <div class="loading-container">
                <div class="loader-4 btn-loading"><span></span></div>
            </div>

            <h1 id="email-verification-title">Verificá tu correo electrónico</h1>
            <p id="email-verification-text">Checkeá tu mail y clickeá en el link para activar tu cuenta.</p>

            <svg id="email-verification-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 561 493" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M876.03027,689.45c-.98047,1.37-1.97021,2.73-2.95019,4.08A16.82838,16.82838,0,0,1,863.5,696.5h-527a16.90383,16.90383,0,0,1-9.21-2.72c-.91016-1.2-1.81006-2.41-2.72022-3.62006l.91016-.5L592.27,541.78a16.01919,16.01919,0,0,1,15.47021-.02L875.12988,688.95Z" transform="translate(-319.5 -203.5)" fill="#079292" />
                <path d="M863.5,378.5,632.28169,244.96964a64.023,64.023,0,0,0-63.98147-.03153L336.5,378.5a17.0241,17.0241,0,0,0-17,17v284a17.01984,17.01984,0,0,0,17,17h527a17.02879,17.02879,0,0,0,17-17v-284A17.02408,17.02408,0,0,0,863.5,378.5Zm15,301a15.03649,15.03649,0,0,1-15,15h-527a15.02706,15.02706,0,0,1-15-15v-284a15.01828,15.01828,0,0,1,15-15L568.30022,246.93811a64.023,64.023,0,0,1,63.98147.03153L863.5,380.5a15.01828,15.01828,0,0,1,15,15Z" transform="translate(-319.5 -203.5)" fill="#3f3d56" />
                <path d="M600.2998,539.18018a15.36345,15.36345,0,0,1-5.116-.8584l-.30249-.10694-.06128-.67236c-.18848.09277-.37866.18164-.56909.26563l-.20118.08837-.20141-.08886c-.42139-.18506-.83985-.39453-1.24365-.62207L408.5,433.73242V222.5A18.5208,18.5208,0,0,1,427,204H773a18.5208,18.5208,0,0,1,18.5,18.5V434.00244l-.25488.14356-183.25,103.04A15.75694,15.75694,0,0,1,600.2998,539.18018Z" transform="translate(-319.5 -203.5)" fill="#fff" />
                <path d="M600.2998,539.68018a15.85649,15.85649,0,0,1-5.282-.88672l-.60547-.21338-.02588-.28565-.33691.14795-.40234-.17676c-.43653-.19189-.86963-.40869-1.28784-.64453L408,434.02539V222.5a19.02154,19.02154,0,0,1,19-19H773a19.02162,19.02162,0,0,1,19,19V434.29492L608.24,537.62158A16.2527,16.2527,0,0,1,600.2998,539.68018Zm-4.01342-2.57666a14.49247,14.49247,0,0,0,10.97436-1.22559L790,433.125V222.5a17.01917,17.01917,0,0,0-17-17H427a17.01909,17.01909,0,0,0-17,17V432.85449l11.98962,6.7334,171.35047,96.29053q.34973.197.71.3706.36035-.17358.70923-.37011l1.34668-.75879Z" transform="translate(-319.5 -203.5)" fill="#3f3d56" />
                <path d="M876.06982,385.88,803.5,426.68,791,433.71,607.75,536.75a15.24213,15.24213,0,0,1-7.4502,1.93,14.91079,14.91079,0,0,1-4.9497-.83,12.05366,12.05366,0,0,1-1.3003-.5q-.61449-.27-1.1997-.6L421.5,440.46,409,433.44l-84.91992-47.72a1.011,1.011,0,0,1-.37988-1.37.99933.99933,0,0,1,1.35986-.38L409,431.14l12.5,7.02L593.83008,535a13.07441,13.07441,0,0,0,1.77978.83c.26026.1.53028.19.8003.27A13.26424,13.26424,0,0,0,606.77,535L791,431.42l12.5-7.03,71.58984-40.25a.99849.99849,0,1,1,.98,1.74Z" transform="translate(-319.5 -203.5)" fill="#3f3d56" />
                <path d="M483.5748,269.5h-28a8,8,0,0,1,0-16h28a8,8,0,0,1,0,16Z" transform="translate(-319.5 -203.5)" fill="#079292" />
                <path d="M516.5748,296.5h-61a8,8,0,0,1,0-16h61a8,8,0,0,1,0,16Z" transform="translate(-319.5 -203.5)" fill="#e6e6e6" />
                <path d="M687,368.5H514a8,8,0,0,1,0-16H687a8,8,0,0,1,0,16Z" transform="translate(-319.5 -203.5)" fill="#079292" />
                <path d="M703,399.5H497a8,8,0,0,1,0-16H703a8,8,0,0,1,0,16Z" transform="translate(-319.5 -203.5)" fill="#e6e6e6" />
                <path d="M703,429.5H497a8,8,0,0,1,0-16H703a8,8,0,0,1,0,16Z" transform="translate(-319.5 -203.5)" fill="#e6e6e6" />
            </svg>

            <div id="btns-container">
                <a id="email-verification-btn" onclick="resendVerification()">Reenviar correo</a>
                <a id="sign-out-btn" onclick="signOut()">Email equivocado</a>
            </div>
        </div>

        <div class="message-container" id="good-message-container">
            <div class="loading-container">
                <div class="loader-4 btn-loading"><span></span></div>
            </div>

            <svg class="message-image" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570 511.67482" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M879.99927,389.83741a.99678.99678,0,0,1-.5708-.1792L602.86963,197.05469a5.01548,5.01548,0,0,0-5.72852.00977L322.57434,389.65626a1.00019,1.00019,0,0,1-1.14868-1.6377l274.567-192.5918a7.02216,7.02216,0,0,1,8.02-.01318l276.55883,192.603a1.00019,1.00019,0,0,1-.57226,1.8208Z" transform="translate(-315 -194.16259)" fill="#3f3d56" />
                <polygon points="23.264 202.502 285.276 8.319 549.276 216.319 298.776 364.819 162.776 333.819 23.264 202.502" fill="#e6e6e6" />
                <path d="M489.25553,650.70367H359.81522a6.04737,6.04737,0,1,1,0-12.09473H489.25553a6.04737,6.04737,0,1,1,0,12.09473Z" transform="translate(-315 -194.16259)" fill="#079292" />
                <path d="M406.25553,624.70367H359.81522a6.04737,6.04737,0,1,1,0-12.09473h46.44031a6.04737,6.04737,0,1,1,0,12.09473Z" transform="translate(-315 -194.16259)" fill="#079292" />
                <path d="M603.96016,504.82207a7.56366,7.56366,0,0,1-2.86914-.562L439.5002,437.21123v-209.874a7.00817,7.00817,0,0,1,7-7h310a7.00818,7.00818,0,0,1,7,7v210.0205l-.30371.12989L606.91622,504.22734A7.61624,7.61624,0,0,1,603.96016,504.82207Z" transform="translate(-315 -194.16259)" fill="#fff" />
                <path d="M603.96016,505.32158a8.07177,8.07177,0,0,1-3.05957-.59863L439.0002,437.54521v-210.208a7.50851,7.50851,0,0,1,7.5-7.5h310a7.50851,7.50851,0,0,1,7.5,7.5V437.68779l-156.8877,66.999A8.10957,8.10957,0,0,1,603.96016,505.32158Zm-162.96-69.1123,160.66309,66.66455a6.1182,6.1182,0,0,0,4.668-.02784l155.669-66.47851V227.33721a5.50653,5.50653,0,0,0-5.5-5.5h-310a5.50653,5.50653,0,0,0-5.5,5.5Z" transform="translate(-315 -194.16259)" fill="#3f3d56" />
                <path d="M878,387.83741h-.2002L763,436.85743l-157.06982,67.07a5.06614,5.06614,0,0,1-3.88038.02L440,436.71741l-117.62012-48.8-.17968-.08H322a7.00778,7.00778,0,0,0-7,7v304a7.00779,7.00779,0,0,0,7,7H878a7.00779,7.00779,0,0,0,7-7v-304A7.00778,7.00778,0,0,0,878,387.83741Zm5,311a5.002,5.002,0,0,1-5,5H322a5.002,5.002,0,0,1-5-5v-304a5.01106,5.01106,0,0,1,4.81006-5L440,438.87739l161.28027,66.92a7.12081,7.12081,0,0,0,5.43994-.03L763,439.02741l115.2002-49.19a5.01621,5.01621,0,0,1,4.7998,5Z" transform="translate(-315 -194.16259)" fill="#3f3d56" />
                <path d="M602.345,445.30958a27.49862,27.49862,0,0,1-16.5459-5.4961l-.2959-.22217-62.311-47.70752a27.68337,27.68337,0,1,1,33.67407-43.94921l40.36035,30.94775,95.37793-124.38672a27.68235,27.68235,0,0,1,38.81323-5.12353l-.593.80517.6084-.79346a27.71447,27.71447,0,0,1,5.12353,38.81348L624.36938,434.50586A27.69447,27.69447,0,0,1,602.345,445.30958Z" transform="translate(-315 -194.16259)" fill="#079292" />
            </svg>

            <h1 class="message-title">Tu correo electrónico se ha verificado correctamente</h1>

            <a href="#" onclick="window.location.href = `https://${window.location.hostname}`" class="message-btn">Continuar</a>
        </div>

        <div class="message-container" id="bad-message-container">
            <div class="loading-container">
                <div class="loader-4 btn-loading"><span></span></div>
            </div>

            <svg class="message-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570 511.67482" data-name="Layer 1">
                <path id="svg_1" fill="#3f3d56" d="m564.99927,195.67483a0.99678,0.99678 0 0 1 -0.5708,-0.1792l-276.55884,-192.60352a5.01548,5.01548 0 0 0 -5.72852,0.00977l-274.56677,192.5918a1.00019,1.00019 0 0 1 -1.14868,-1.6377l274.567,-192.5918a7.02216,7.02216 0 0 1 8.02,-0.01318l276.55883,192.603a1.00019,1.00019 0 0 1 -0.57226,1.8208l0.00004,0.00003z" />
                <polygon id="svg_2" fill="#e6e6e6" points="23.264 202.502 285.276 8.319 549.276 216.319 298.776 364.819 162.776 333.819 23.264 202.502" />
                <path id="svg_3" fill="#ff0000" d="m174.25553,456.54109l-129.44031,0a6.04737,6.04737 0 1 1 0,-12.09473l129.44031,0a6.04737,6.04737 0 1 1 0,12.09473z" />
                <path id="svg_4" fill="#ff0000" d="m91.25553,430.54109l-46.44031,0a6.04737,6.04737 0 1 1 0,-12.09473l46.44031,0a6.04737,6.04737 0 1 1 0,12.09473z" />
                <path id="svg_5" fill="#fff" d="m288.96016,310.65949a7.56366,7.56366 0 0 1 -2.86914,-0.562l-161.59082,-67.04884l0,-209.874a7.00817,7.00817 0 0 1 7,-7l310,0a7.00818,7.00818 0 0 1 7,7l0,210.0205l-0.30371,0.12989l-156.28027,66.73972a7.61624,7.61624 0 0 1 -2.95606,0.59473z" />
                <path id="svg_6" fill="#3f3d56" d="m288.96016,311.159a8.07177,8.07177 0 0 1 -3.05957,-0.59863l-161.90039,-67.17774l0,-210.208a7.50851,7.50851 0 0 1 7.5,-7.5l310,0a7.50851,7.50851 0 0 1 7.5,7.5l0,210.35058l-156.8877,66.999a8.10957,8.10957 0 0 1 -3.15234,0.63479zm-162.96,-69.1123l160.66309,66.66455a6.1182,6.1182 0 0 0 4.668,-0.02784l155.669,-66.47851l0,-209.03027a5.50653,5.50653 0 0 0 -5.5,-5.5l-310,0a5.50653,5.50653 0 0 0 -5.5,5.5l-0.00009,208.87207z" />
                <path id="svg_7" fill="#3f3d56" d="m563,193.67483l-0.2002,0l-114.7998,49.02002l-157.06982,67.07a5.06614,5.06614 0 0 1 -3.88038,0.02l-162.0498,-67.23002l-117.62012,-48.8l-0.17968,-0.08l-0.2002,0a7.00778,7.00778 0 0 0 -7,7l0,304a7.00779,7.00779 0 0 0 7,7l556,0a7.00779,7.00779 0 0 0 7,-7l0,-304a7.00778,7.00778 0 0 0 -7,-7zm5,311a5.002,5.002 0 0 1 -5,5l-556,0a5.002,5.002 0 0 1 -5,-5l0,-304a5.01106,5.01106 0 0 1 4.81006,-5l118.18994,49.03998l161.28027,66.92a7.12081,7.12081 0 0 0 5.43994,-0.03l156.27979,-66.73998l115.2002,-49.19a5.01621,5.01621 0 0 1 4.7998,5l0,304z" />
                <path fill-rule="evenodd" fill="#ff0000" d="m204.7141,57.67923l0,0a29.71618,29.71618 0 0 1 41.9761,0l38.35747,38.34299l38.25615,-38.34299a29.73066,29.73066 0 0 1 41.9761,0l0,0a29.71618,29.71618 0 0 1 0,41.9761l-38.38642,38.27062l38.34299,38.34299a29.73066,29.73066 0 0 1 0,41.9761l0,0a29.73066,29.73066 0 0 1 -41.9761,0l-38.29957,-38.38642l-38.27062,38.34299a29.73066,29.73066 0 0 1 -41.9761,0l0,0a29.73066,29.73066 0 0 1 0,-41.9761l38.31404,-38.29957l-38.31404,-38.35747a29.71618,29.71618 0 0 1 0,-41.88925z" class="cls-1" />
            </svg>

            <h1 class="message-title">No se ha podido enviar el correo electronico</h1>
            <a class="message-btn" onclick="resendVerification()">Reenviar correo</a>
            <!-- <a class="message-btn">Continuar</a> -->
        </div>
    </div>
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-auth.js"></script>
    <script src="https://dogshome-6af88.web.app/__/firebase/8.6.5/firebase-database.js"></script>
    <script src="https://dogshome-6af88.web.app/__/firebase/init.js"></script>

    <script src="/scripts/auth/email-verification.js"></script>
    <script>
        let user_g;

        function resendVerification() {
            loading(true);
            sendEmailVerification().then(() => {
                showMessageContainer('email-verification-container');
            }).catch(() => {
                showMessageContainer('bad-message-container');
            }).finally(() => {
                loading(false)
            })
        }

        function loading(show) {
            const loading_containers = document.querySelectorAll('.loading-container');
            loading_containers.forEach((loading_container) => {
                if (show) {
                    loading_container.classList.add("visible")
                } else {
                    loading_container.classList.remove("visible")
                }
            })
        }

        function showMessageContainer(id) {
            const message_containers = document.querySelectorAll('.message-container');
            message_containers.forEach((message_container) => {
                if (message_container.id == id) {
                    message_container.classList.add("visible")
                } else {
                    message_container.classList.remove("visible")
                }
            })
        }

        loading(true);
        firebase.auth().onAuthStateChanged(function(user) {
            user_g = user;
            
            const interval = setInterval( () => {
                if (user_g) {
                    user_g.reload();
                    console.log(user_g.emailVerified)
                    if (user_g.emailVerified) {
                        user_g.getIdToken(true).then(function(idToken) {
                            //The user is verified but the session is not refreshed
                            refreshUser(idToken).then(() => {
                                showMessageContainer('good-message-container');
                            }).catch((error) => {
                                showMessageContainer('bad-message-container');
                            }).finally(() => {
                                loading(false);
                            })
                        });
                        clearInterval(interval);
                    }
                }
            }, 1000)
            if (user) {
                if (user.emailVerified) {
                    user.getIdToken(true).then(function(idToken) {
                        //The user is verified but the session is not refreshed
                        refreshUser(idToken).then(() => {
                            showMessageContainer('good-message-container');
                        }).catch((error) => {
                            showMessageContainer('bad-message-container');
                        }).finally(() => {
                            loading(false);
                        })
                    })

                } else {
                    //The user is not verified yet
                    user.getIdToken(true).then(function(idToken) {

                        sendEmailVerification().then(function(response) {
                            //Email verification sent
                            showMessageContainer('email-verification-container');
                        }).catch(function(error) {
                            const errorCode = error.code || null;
                            const errorMessage = error.message || null;
                            //Could not send verification email (with error code and message)
                            console.log(error)
                            showMessageContainer('bad-message-container');
                        }).finally(() => {
                            loading(false);
                        })
                    })
                }
            } else {
                window.location = 'signin.html';
            }
        });
    </script>

</body>

</html>