<% var rootPath = '../../'; %>

<%- include(rootPath + "ejs-resources/chat/chat_list_style.ejs") %> 
<section id="chat-list" class="">
    <div id="shelter-list-container">
        <div id="chat-list-title">
            <h1>Chats</h1>
        </div>
        <div id="no-chats-text" class="invisible">
            <p>Cuando tengas chats activos, aparecerán aquí.</p>
        </div>
        <div id="shelter-list-loading" class="invisible">
            <lottie-player src="/animations/chat_loading.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
    </div>
    <div id="chat-list-toggle-btn-container" class="">
        <svg id="chat-list-toggle-btn" viewBox="0 0 24 24" width="24" height="24">
            <path d="M5.22 8.72a.75.75 0 011.06 0L12 14.44l5.72-5.72a.751.751 0 011.042.018.751.751 0 01.018 1.042l-6.25 6.25a.75.75 0 01-1.06 0L5.22 9.78a.75.75 0 010-1.06z"></path>
        </svg>
    </div>
    
    <script>
        document.getElementById("chat-list-toggle-btn-container").addEventListener("click", function() {
            document.getElementById("chat-list").classList.toggle("toggled");
            document.getElementById("chat-list-toggle-btn-container").classList.toggle("toggled");
        })
        document.getElementById("shelter-list-loading").className = "";
        
        Chats.Actions.getShelters().then((shelters) => {
            if (shelters.length > 0) {
                document.getElementById('no-chats-text').className = "invisible";
            } else {
                document.getElementById('no-chats-text').className = "";
            }

            shelters.forEach(({ shelter_id, shelter_photo, shelter_name }) => {
                Chats.Actions.getChatsByShelter(shelter_id).then(function (chats) {
                    document.getElementById('shelter-list-loading').className = "invisible";
                    Chats.UI.addShelterItemToList({ shelter_id, shelter_photo, shelter_name });

                    chats.forEach(chat => {
                        chat["shelter_id"] = shelter_id;
                        chat["shelter_name"] = shelter_name;
                        chat["shelter_photo"] = shelter_photo;
                        Chats.UI.addChatToShelterList(chat, document.getElementById(`chats-container-${shelter_id}`));
                    });
                }).catch(function (error) {
                    console.log(error);
                });
                    
            });

        }).catch(function (error) {
            console.log(error);
        });
    </script>
</section>